.navbar {
    display: flex;
    /* flex-direction: column; */
    height: 100px;
    width: 100%;
}

.navbar-ul {
    display: flex;
    /* flex-direction: row; */
    border: 1px solid red;
    width: 100%;
}

div > ul > li{
    border: 1px solid pink;
}

