.navbar {
    display: flex;
    /* flex-direction: column; */
    height: 5rem;
    width: 100%;
}

.navbar-ul {
    display: flex;
    border: 1px solid red;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    padding: 10px;
    margin: 0;
}

div > ul > li{
    text-decoration: none;
}

